<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h2>Survey Builder</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<p>1. Build Survey</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<p>First choose a title and a description for your survey</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<h3>Survey Title</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<%=form_for @survey, html: {class: 'form-horizontal'} do |survey_form| %>
			<div class="form-group">
			  <%= survey_form.label :title, class: "col-xs-6" %>
			  <%= survey_form.text_field :title, class: "col-xs-6" %>
			</div>

			<%= survey_form.submit "Create form", :class => "btn btn-large btn-primary btn-block" %>
			<% end %>
		</div>
	</div>


</div>